@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import './background';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000000;
    box-sizing: border-box;
    color: #FFFFFF;
}

* {
    box-sizing: border-box;
}
.nav-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
    img {
        width: 30px;
    }
}

.nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    background-color: #2b4755;

    nav {
        display: flex;
        font-size: 1.5em;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        .nav-item{
            margin: 0 20px;
            padding: 5px 10px;
            color: #C4DFED;
            transition: color 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                color: #FFFFFF;
            }
        }
    }

    .nav-logo{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        img {
            max-width: 200px;
            max-height: 60px;
        }
    }

    @media screen and (max-width: 800px) {
        & {
            height: 100vh;
        }
        nav {
            flex-direction: column;
            .nav-item{
                margin: 10px 0px;
                text-align: center;
            }
        }
    }
}

.landing {
    height: 100vh;
    width: 100%;
    max-width: 2050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr 4fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 10fr 1fr 1fr;
    background-color: #2b4755;
    .landing-img {
        grid-column: 1 / span 4;
        grid-row: 1 / span 5;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 70%;
        }
    }
    .landing-title {
        grid-column: 4 / span 2;
        grid-row: 3 / span 1;
        img{
            max-height: 750px;
        }
    }
    .landing-desc {
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
        img{
            max-height: 60px;
        }
    }
    .landing-down {
        grid-column: 4 / span 1;
        grid-row: 4 / span 1;
        img {
            width: 50px;
            height: 100%;
        }
    }

    @media screen and (max-width: 800px){
        & {
            grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
            grid-template-rows: 1fr 5fr 5fr 1fr;
        }
        .landing-img {
            grid-column: 1 / span 5;
            grid-row: 1 / span 4;
        }
        .landing-desc {
            grid-column: 2 / span 2;
            grid-row: 1 / span 1;
            padding-top: 20px;
        }
        .landing-title {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
            padding-top: 20px;
        }
        .landing-down {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            display: flex;
            justify-content: center;
        }
    }
}
.landing-quote {
    height: 30vh;
    background-color: #152C37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
}
footer {
    padding: 10px 0px;
    text-align: center;
    color: #666;
}